@import 'colors.scss';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

body {
	margin: 0;
}

#app{
	margin: 0 auto;
	padding: 1rem;
	max-width: 1024px;
	min-width: 499px;
}

a {
	color: $color_primary;
	text-decoration: none;
}

a:hover {
	color: darken($color_primary, 10%);
	text-decoration: underline;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}


.form-row {
	margin-bottom: 1rem;
	display: flex;

	.form-input {
		display: inline-block;
		min-width: 200px;
		max-width: 200px;
		padding: 0.438rem 0.875rem;
		font-size: .894rem;
		font-weight: 400;
		line-height: 1.54;
		color: #4E5155;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid $color_input_border;
		border-radius: 0.15rem;
		.notice{
			display: block;
		}	
	}
	.notice.error{
		color: red;
	}

	.form-input:active,
	.form-input:focus,
	.form-input:hover {
		border-color: $color_primary;
		outline: none;
	}

}

.mr-1{
	margin-right: 1rem;
}


